@import url("pages/pages.css");
@import url("components/components.css");

@font-face {
  font-family: Simplecat;
  src: url(./assets/Simplecat-d9xpV.otf);
}

*{
  /* background-color: pink; */
  font-family: Simplecat
}
body{
  background-color: pink;
}


.page-body{
  text-align: center;
  margin: 3rem;
  height: 110vh;
}

#showheader{
align-items: center;
}

.home{
  background-color: white;
}

#button-container{
  padding: 2px 2px 2px 2px;
  background-color: white;
  z-index: -1;
}

button{
  background-color: hotpink;
}

a {
  color: #e12e87 !important;
  text-decoration: none !important;
}
a:hover {
  cursor: pointer !important;
  color: #9d2db3 !important;
  text-decoration: underline !important;
}