@font-face {
  font-family: Simplecat;
  src: url(./assets/Simplecat-d9xpV.otf);
}



header{
  text-align: center;
  background-color: pink;
  font-family: Simplecat
}

.bingusMyBeloved{
  height: 350px;
  width: 300px;
  margin-left: 20px;
  margin-top: 10px;
  
}